.register {
  background-color: #5f9ea6;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 300px;
    padding-top: 50px;
  }

  .circle {
    background-color: #5f9ea6;
    margin-top: 25px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 100% 100% 0 0;

    .formContainer {
      height: 65vh;
      display: flex;
      align-items: center;
      justify-content: center;

      .formWrapper {
        padding: 20px 60px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;

        form {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 20px;

          label {
            display: flex;
            width: 100px;
            height: 100px;
            background-color: #d9d9d9;
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            text-align: center;
            cursor: pointer;

            img {
              width: 55px;
              margin-bottom: 50%;
            }
          }

          input {
            padding: 10px;
            border: none;
            width: 350px;
            border: 1px solid #868686;
            border-radius: 5px;
            &::placeholder {
              color: rgb(175, 175, 175);
            }
          }

          button {
            background-color: #5f9ea6;
            color: white;
            margin-top: 10px;
            padding: 10px 150px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
          }
        }
        p {
          color: #888;
          font-size: 12px;
          margin-top: 10px;
        }
      }
    }
  }
}

.home {
  background-color: #cacaca;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 60%;
    height: 80%;
    display: flex;
  }

  .navbar {
    background-color: #5f9ea6;
    border-radius: 10px 0 0 10px;
    width: 9%;
  }

  .nav-icons {
    padding: 10px 50% 30px 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
    color: #125259;

    .icon {
      cursor: pointer;
    }
  }

  .sign-out {
    margin-top: 120px;
  }

  .selected {
    color: white;
  }

  .sidebar {
    background-color: #1f9ea1;
    width: 40%;
    display: flex;
    flex-direction: column;

    .sidebar-title {
      background-color: #fff;
      height: 62px;
      font-size: 25px;
      font-weight: bold;
      text-align: center;
      color: #464646;
      padding-top: 13px;
    }
    .sidebar-search {
      text-align: center;
      background-color: #c3c3c3;
      padding: 12px 0 12px 0;
      Input {
        border-radius: 10px;
      }
    }
    .copyright {
      background-color: #c3c3c3;
      height: 18px;
      color: #898989;
      font-size: 10px;
      font-weight: bold;
      text-align: center;
    }
  }

  .contact-container {
    background-color: #ededed;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1px;
    overflow: auto;

    .contact {
      background-color: #dfdfdf;
      height: 70px;
      display: flex;
      flex-direction: row;
      gap: 2px;
      padding-left: 10px;
      padding-top: 7px;
      cursor: pointer;

      .profile-photo {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }

      .data-wrapper {
        display: flex;
        flex-direction: column;
        .title-wrapper {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 175px;
          .contact-title {
            color: #282828;
            padding-left: 8px;
            padding-top: 5px;
            font-size: 15px;
            font-weight: bold;
            width: 130px;
          }

          .contact-recent-time {
            padding-top: 5px;
            color: #898989;
            font-size: 9px;
          }
        }

        .message-wrapper {
          display: flex;
          flex-direction: row;
          margin-left: -15px;
          padding-top: 6px;
          width: 195px;

          .contact-status {
            height: 11px;
            width: 11px;
            border-radius: 50%;
            border: 1px solid white;
          }

          .contact-final-message {
            margin-top: -8px;
            padding-left: 14px;
            width: 160px;
            color: #898989;
            font-size: 10px;
            width: 150px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .recent-message-count {
            display: flex;
            height: 13px;
            width: 13px;
            border-radius: 50%;
            margin-top: -5px;
            margin-left: 17px;
            color: white;
            font-size: 8px;
            font-weight: bold;
            justify-content: center;
            align-items: center;
          }

          .new {
            background-color: red;
          }

          .silent {
            background-color: #125259;
          }

          .online {
            background-color: green;
          }
          .away {
            background-color: yellow;
          }
          .offline {
            background-color: #a7a7a6;
          }
        }
      }
    }

    .selected {
      background-color: #f3f3f3;
    }
  }

  .chat {
    background-color: #f3f3f3;
    border-radius: 0 10px 10px 0;
    width: 100%;

    .open-chat {
      padding: 8px 0 0 20px;
      font-size: 10px;
      color: #868686;
      padding-left: 20px;
      border-bottom: 1px solid #cacaca;
      margin: 0 10px 0 10px;
      .open-chat-title {
        color: #282828;
        font-size: 20px;
        font-weight: bold;
      }

      .open-chat-status {
        display: flex;
        flex-direction: row;
        gap: 5px;

        .open-chat-status-sign {
          margin-top: 4px;
          border-radius: 50%;
          width: 11px;
          height: 11px;
        }
        .open-chat-status-message {
          color: #868686;
          font-size: 10px;
        }
        .online {
          background-color: green;
        }
        .away {
          background-color: yellow;
        }
        .offline {
          background-color: #868686;
        }
      }
    }

    .open-chat-body {
      padding-top: 15px;
      margin-top: 1px;
      margin-left: -30px;
      margin-right: 10px;
      height: 343px;
      overflow: auto;

      .receiver {
        display: flex;
        flex-direction: row;
        gap: 5px;
        list-style: none;

        .receiver-profile {
          width: 45px;
          height: 45px;

          border-radius: 50%;
        }
        .receiver-message-container {
          display: flex;
          flex-direction: column;
          .receiver-message {
            font-size: 13px;
            color: #282828;
            padding: 5px;
            border-radius: 5px;
            width: 200px;
            background-color: #a9d6dc;
          }
          .receiver-time {
            font-size: 8px;
            color: #b3b3b3;
            text-align: right;
          }
        }
      }

      .sender {
        list-style: none;
        display: flex;
        flex-direction: row;
        margin-right: 5px;
        gap: 5px;

        float: right;
        .sender-profile {
          float: right;
          width: 45px;
          height: 45px;
          border-radius: 50%;
        }
        .sender-message-container {
          display: flex;
          flex-direction: column;
          .sender-message {
            border-radius: 5px;
            font-size: 13px;
            color: #282828;
            padding: 5px;
            width: 200px;
            background-color: #dfdfdf;
          }
          .sender-time {
            font-size: 8px;
            color: #b3b3b3;
          }
        }
      }
    }

    .message-bar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-top: 1px;

      .chat-input-text {
        width: 100%;
        display: flex;
        flex-direction: row;

        .text-input {
          border-radius: 10px 10px 10px 10px;
          padding: 10px 10px 30px 10px;
          min-width: 97%;
          border: 1px solid #125259;
          font-size: 16px;
          height: 60px;
          overflow: hidden;
          outline-color: #125259;
        }
        .chat-send-icon {
          color: #868686;
          margin-left: -33px;
          margin-top: 15px;
          transform: rotate(-40deg);
          cursor: pointer;
        }
      }

      .chat-attach-icon {
        color: #868686;
        margin: 17px 10px 0 10px;
        cursor: pointer;
        transform: rotate(30deg);
      }

      .chat-language-icon {
        margin: 10px 12px 0 0;
        color: #868686;
        cursor: pointer;
      }
    }
  }
}

.avatarContainer {
  padding: 8px;
  img {
    border: 2px solid white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    position: relative;
    display: inline-block;
  }
  .status {
    background-color: green;
    border: 1px solid white;
    border-radius: 50% 50%;
    width: 15px;
    height: 15px;
    display: inline-block;
    position: absolute;
    margin: 45px 0 0 -18px;
  }
}

.actionbarContainer {
  background-color: white;
  border-radius: 0 10px 0 0;
  height: 50px;
  padding-top: 12px;

  .iconGroup {
    margin-left: 82%;
    padding-left: 30px;
    display: flex;
    justify-content: center;
    border: 1px solid #d9d9d9;
    border-radius: 15px;
    width: 100px;
    height: 30px;
    color: #b3b3b3;
    padding: 5px 10px 10px 10px;
    column-gap: 12px;
  }
}
